# Build and IDE
build/
out/
dist/
bin/
obj/
.vs/
CMakeCache.txt
CMakeFiles/
cmake-build-*/
*.user
*.opendb
*.VC.db
*.log

# Compiler artifacts
*.pdb
*.ilk
*.obj
*.o
*.a
*.lib
*.dll
*.exe
*.exp

# OS
.DS_Store
Thumbs.db

# Vendor/cache
vcpkg_installed/
src/ZenithEngine/x64/

# Local test outputs
tests/*.tmp

